
@{
    ViewBag.Title = "Error";
}
<style>
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container text-center">
    <h1>Error</h1>
    <p>@ViewBag.ErrorMessage</p>
    <button class="form-btn mx-3 shadow-none" style="background-color: skyblue; border-color: lightblue;"><a style="text-decoration: none" href="/Home">Back to Home</a></button>
</div>
