
@{
    ViewBag.Title = "Tools";
}

<main class="d-flex" style="overflow-x: hidden;">
    @Html.Partial("_Navigation")
    <div class="m-5 bg-mainbackground border rounded-3 w-100 d-flex justify-content-evenly align-items-center" style="height: 85vh;">

    </div>
</main>