<footer>
    <section>
        <h3>Products</h3>
        <ul>
            <li><a href="/Home/Features">Individual</a></li>
            <li><a href="/Home/Features">Small Company</a></li>
            <li><a href="/Home/Features">Enterprise</a></li>
        </ul>
    </section>
    <section>
        <h3>Community</h3>
        <ul>
            <li><a href="/Home/TOS">Terms of Service</a></li>
            <li><a href="/Home/">Privacy Policy</a></li>
            <li><a href="/Home/FAQ">Frequently Asked Questions</a></li>
        </ul>
    </section>
    <section>
        <h3>Contact</h3>
        <ul>
            <li><a href="/Main/Tickets">Support</a></li>
            <li><a href="/Home/Pricing">Sales</a></li>
        </ul>
    </section>
    <div class="divspliter">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
    <div>
        <p>&copy; Imitation Services</p>
        <ul class="footerSocials">
            <li><a href="https://twitter.com/"><img src="~/Images/X.png" alt="Twitter/X" class="p-2"></a></li>
            <li><a href="https://instagram.com/"><img src="~/Images/Instagram.png" alt="Instagram"></a></li>
            <li><a href="https://facebook.com/"><img src="~/Images/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://tiktok.com/"><img src="~/Images/Tiktok.png" alt="TikTok"></a></li>
        </ul>
    </div>
</footer>