
@{
    ViewBag.Title = "Features";
}

<div class="d-flex justify-content-center align-items-center mt-3">
    <h2 class="text-center mb-5 p-2 pt-1 border border-white test-header header-text">Popular Features</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card"
                 style="background: linear-gradient(30deg, rgba(64,93,230,1) 0%, rgba(131,58,180,1) 20%, rgba(229,35,59,1) 75%, rgba(193,121,23,1) 85%); color: whitesmoke ">
                <div class="m-2 rounded-3" style="backdrop-filter: grayscale(.8) opacity(.8)">
                    <div class="card-header py-3 ">
                        <h4 class="my-0 fw-bold text-center">Instagram Services</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 fs-5">
                            <li class="mb-2"><strong>Minimum Order: 10</strong></li>
                            <li class="mb-2"><strong>Maximum Order: 1,600,000</strong></li>
                            <li class="mb-2"><strong>Time per fill:</strong> <span class="fw-bold">3</span> minutes - <span class="fw-bold">6</span> hours</li>
                            <li class="mb-2"><strong>Services:</strong> Followers, Likes, Shares, Views, Mentions, Story Likes</li>
                            <li><strong>Accounts:</strong> American, Spanish, Indian</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card text-center"
                 style="background: linear-gradient(0deg, rgba(101,119,134,1) 1%, rgba(31,160,239,1) 20%, rgba(29,161,242,1) 80%, rgba(101,119,134,1) 99%); color: whitesmoke ">
                <div class="m-2 rounded-3" style="backdrop-filter: grayscale(.8) opacity(.8)">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold text-center">Twitter/X Services</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 fs-5">
                            <li class="mb-2"><strong>Minimum Order: 20</strong></li>
                            <li class="mb-2"><strong>Maximum Order: 5,000,000</strong></li>
                            <li class="mb-2"><strong>Time per fill:</strong> <span class="fw-bold">2</span> minutes - <span class="fw-bold">50</span> hours</li>
                            <li class="mb-2"><strong>Services:</strong> Followers, Likes, Retweets, Mentions, Poll Votes</li>
                            <li><strong>Accounts:</strong> American, Nigerian, Indian</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm pricing-card text-center" style="color: whitesmoke; background: linear-gradient(16deg, rgba(255,0,80,1) 5%, rgba(0,242,234,1) 50%, rgba(0,0,0,1) 95%);">
                <div class="m-2 rounded-3" style="backdrop-filter: grayscale(.8) opacity(.8)">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold">TikTok Services</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 fs-5">
                            <li class="mb-2"><strong>Minimum Order: 5</strong></li>
                            <li class="mb-2"><strong>Maximum Order: 100,000,000</strong></li>
                            <li class="mb-2"><strong>Time per fill:</strong> <span class="fw-bold">1</span> minute - <span class="fw-bold">51</span> hours</li>
                            <li class="mb-2"><strong>Services:</strong> Followers, Views, Comments, Likes + Livestream</li>
                            <li><strong>Accounts:</strong> Russian, Ukraine, Brazil, </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="height: 100px;"></div>

@Html.Partial("_Footer")


